#* @implicitly included *#
#* @vtlvariable name="msg" type="de.gsi.acc.remote.util.MessageBundle" *#
#* @vtlvariable name="images" type="java.lang.Iterable<de.gsi.acc.remote.clipboard.ClipboardData>" *#
#* @vtlvariable name="image" type="de.gsi.acc.remote.clipboard.ClipboardData" *#
#* @vtlvariable name="users" type="java.lang.Iterable<de.gsi.acc.remote.user.RestUser>" *#
#* @vtlvariable name="currentUser" type="java.lang.String" *#
#* @vtlvariable name="currentRoles" type="java.lang.List<de.gsi.acc.remote.BasicRestRoles>" *#
#* @vtlvariable name="loggedOut" type="java.lang.String" *#
#* @vtlvariable name="authenticationFailed" type="java.lang.String" *#
#* @vtlvariable name="authenticationSucceeded" type="java.lang.String" *#
#* @vtlvariable name="loginRedirect" type="java.lang.String" *#
