
/* play button */



.my-play-button {
    -fx-graphic: url("./icons/medium_play1.gif");
}

.my-play-button:hover {
    -fx-graphic: url("./icons/medium_play1_r.gif");
}

.my-play-button:pressed {
    -fx-graphic: url("./icons/medium_play1_p.gif");
}

.my-play-button:activated {
    -fx-graphic: url("./icons/medium_play2.gif");
}

.my-play-button:activated:hover {
    -fx-graphic: url("./icons/medium_play2_r.gif");
}

.my-play-button:pressed:activated {
    -fx-graphic: url("./icons/medium_play2_p.gif");
}

.my-play-button: disabled {
    -fx-graphic: url("./icons/medium_play_d.gif");
}

/* pause button */
.my-pause-button {
    -fx-graphic: url("./icons/medium_pause1.gif");
}

.my-pause-button:hover {
    -fx-graphic: url("./icons/medium_pause1_r.gif");
}

.my-pause-button:pressed {
    -fx-graphic: url("./icons/medium_pause1_p.gif");
}

.my-pause-button:activated {
    -fx-graphic: url("./icons/medium_pause2.gif");
}

.my-pause-button:activated:hover {
    -fx-graphic: url("./icons/medium_pause2_r.gif");
}

.my-pause-button:pressed:activated {
    -fx-graphic: url("./icons/medium_pause2_p.gif");
}

.my-pause-button: disabled {
    -fx-graphic: url("./icons/medium_pause_d.gif");
}

/* play-stop button */

.my-playstop-button {
    -fx-graphic: url("./icons/medium_playstop_d.gif");
}

.my-playstop-button:hover {
    -fx-graphic: url("./icons/medium_playstop_d.gif");
}

.my-playstop-button:pressed {
    -fx-graphic: url("./icons/medium_playstop_d.gif");
}

.my-playstop-button:activated {
    -fx-graphic: url("./icons/medium_playstop1.gif");
}

.my-playstop-button:activated:hover {
    -fx-graphic: url("./icons/medium_playstop1_r.gif");
}

.my-playstop-button:pressed:activated {
    -fx-graphic: url("./icons/medium_playstop1_p.gif");
}

.my-playstop-button: disabled {
    -fx-graphic: url("./icons/medium_playstop_d.gif");
}

/* stop button */

.my-stop-button {
    -fx-graphic: url("./icons/medium_stop_d.gif");
}

.my-stop-button:hover {
    -fx-graphic: url("./icons/medium_stop_d.gif");
}

.my-stop-button:pressed {
    -fx-graphic: url("./icons/medium_stop_d.gif");
}

.my-stop-button:activated {
    -fx-graphic: url("./icons/medium_stop.gif");
}

.my-stop-button:activated:hover {
   -fx-graphic: url("./icons/medium_stop_r.gif");
}

.my-stop-button:activated:pressed {
    -fx-graphic: url("./icons/medium_stop_p.gif");
}

.my-stop-button: disabled {
    -fx-graphic: url("./icons/medium_stop_d.gif");
}

