
.bordered-titled-title {
  -fx-padding: 0 2 0 2;
  -fx-font-size: 14px;
  -fx-background-color: -fx-background;
  -fx-translate-y: -9;
  -fx-translate-X: +4;
}

.bordered-titled-border {
  -fx-content-display: top;
  -fx-border-insets: 8 5 5 5;
  -fx-border-color: black;
  -fx-border-width: 1;
}

.bordered-titled-content {
  -fx-padding: 10 5 5 5;
}
