@mixin misc() {
  -color-dataset-1: #5DA5DA; // (blue)
  -color-dataset-2: #F15854; // (red)
  -color-dataset-3: #FAA43A; // (orange)
  -color-dataset-4: #60BD68; // (green)
  -color-dataset-5: #F17CB0; // (pink)
  -color-dataset-6: #B2912F; // (brown)
  -color-dataset-7: #B276B2; // (purple)
  -color-dataset-8: #DECF3F; // (yellow)
  -color-dataset-9: #4D4D4D; // (gray)
  .renderer {
    -fx-color-count: 9;
  }
}

@mixin adobe() {
  -color-dataset-1: #00a4e4; // blue
  -color-dataset-2: #ff0000; // red
  -color-dataset-3: #fbb034; // orange
  -color-dataset-4: #ffdd00; // yellow
  -color-dataset-5: #c1d82f; // green
  -color-dataset-6: #8a7967; // brown
  -color-dataset-7: #6a737b; // darkbrown/black
  .renderer {
    -fx-color-count: 7;
  }
}

@mixin dell() {
  -color-dataset-1: #0085c3;
  -color-dataset-2: #7ab800;
  -color-dataset-3: #f2af00;
  -color-dataset-4: #dc5034;
  -color-dataset-5: #6e2585;
  -color-dataset-6: #71c6c1;
  -color-dataset-7: #009bbb;
  -color-dataset-8: #444444;
  .renderer {
    -fx-color-count: 8;
  }
}

@mixin equidistant() {
  -color-dataset-1: #003f5c;
  -color-dataset-2: #2f4b7c;
  -color-dataset-3: #665191;
  -color-dataset-4: #a05195;
  -color-dataset-5: #d45087;
  -color-dataset-6: #f95d6a;
  -color-dataset-7: #ff7c43;
  -color-dataset-8: #ffa600;
  .renderer {
    -fx-color-count: 8;
  }
}

@mixin tuneviewer() {
  // old legacy color scheme from an earlier project
  -color-dataset-1: #0000c8; // dark blue
  -color-dataset-2: #c80000; // dark red
  -color-dataset-3: #00c800; // dark green
  -color-dataset-4: orange;
  -color-dataset-5: magenta;
  -color-dataset-6: cyan;
  -color-dataset-7: darkgray;
  -color-dataset-8: pink;
  -color-dataset-9: black;
  .renderer {
    -fx-color-count: 9;
  }
}

@mixin matlab() {
  // default MATLAB 'colororder'
  -color-dataset-1: rgb(0, 114, 189);
  -color-dataset-2: rgb(217, 83, 25);
  -color-dataset-3: rgb(237, 177, 32);
  -color-dataset-4: rgb(126, 47, 142);
  -color-dataset-5: rgb(119, 172, 48);
  -color-dataset-6: rgb(77, 190, 238);
  -color-dataset-7: rgb(162, 20, 47);
  .renderer {
    -fx-color-count: 7;
  }
}

@mixin matlab-dark() {
  // https://de.mathworks.com/matlabcentral/fileexchange/86533-dark-mode-plot
  -color-dataset-1: rgb(89, 149, 189);
  -color-dataset-2: rgb(217, 115, 71);
  -color-dataset-3: rgb(237, 177, 32);
  -color-dataset-4: rgb(218, 81, 245);
  -color-dataset-5: rgb(119, 172, 48);
  -color-dataset-6: rgb(77, 190, 238);
  -color-dataset-7: rgb(162, 137, 141);
  .renderer {
    -fx-color-count: 7;
  }
}

// CSS classes that set the default similar to the JavaFX charts
// Using an undefined index result in a lookup error.
.dataset.default-color0 {
  -fx-stroke: -color-dataset-1;
  -fx-fill: -color-dataset-1;
}

.dataset.default-color1 {
  -fx-stroke: -color-dataset-2;
  -fx-fill: -color-dataset-2;
}

.dataset.default-color2 {
  -fx-stroke: -color-dataset-3;
  -fx-fill: -color-dataset-3;
}

.dataset.default-color3 {
  -fx-stroke: -color-dataset-4;
  -fx-fill: -color-dataset-4;
}

.dataset.default-color4 {
  -fx-stroke: -color-dataset-5;
  -fx-fill: -color-dataset-5;
}

.dataset.default-color5 {
  -fx-stroke: -color-dataset-6;
  -fx-fill: -color-dataset-6;
}

.dataset.default-color6 {
  -fx-stroke: -color-dataset-7;
  -fx-fill: -color-dataset-7;
}

.dataset.default-color7 {
  -fx-stroke: -color-dataset-8;
  -fx-fill: -color-dataset-8;
}

.dataset.default-color8 {
  -fx-stroke: -color-dataset-9;
  -fx-fill: -color-dataset-9;
}

.dataset.default-color9 {
  -fx-stroke: -color-dataset-10;
  -fx-fill: -color-dataset-10;
}

.dataset.default-color10 {
  -fx-stroke: -color-dataset-11;
  -fx-fill: -color-dataset-11;
}

.dataset.default-color11 {
  -fx-stroke: -color-dataset-12;
  -fx-fill: -color-dataset-12;
}

.dataset.default-color12 {
  -fx-stroke: -color-dataset-13;
  -fx-fill: -color-dataset-13;
}

.dataset.default-color13 {
  -fx-stroke: -color-dataset-14;
  -fx-fill: -color-dataset-14;
}

.dataset.default-color14 {
  -fx-stroke: -color-dataset-15;
  -fx-fill: -color-dataset-15;
}

.dataset.default-color15 {
  -fx-stroke: -color-dataset-16;
  -fx-fill: -color-dataset-16;
}