.chart {
  -color-dataset-1: #0000c8;
  -color-dataset-2: #c80000;
  -color-dataset-3: #00c800;
  -color-dataset-4: orange;
  -color-dataset-5: magenta;
  -color-dataset-6: cyan;
  -color-dataset-7: darkgray;
  -color-dataset-8: pink;
  -color-dataset-9: black;
  -fx-color-count: 9;
}

.chart:palette-misc, .renderer:palette-misc {
  -color-dataset-1: #5DA5DA;
  -color-dataset-2: #F15854;
  -color-dataset-3: #FAA43A;
  -color-dataset-4: #60BD68;
  -color-dataset-5: #F17CB0;
  -color-dataset-6: #B2912F;
  -color-dataset-7: #B276B2;
  -color-dataset-8: #DECF3F;
  -color-dataset-9: #4D4D4D;
  -fx-color-count: 9;
}
.chart:palette-adobe, .renderer:palette-adobe {
  -color-dataset-1: #00a4e4;
  -color-dataset-2: #ff0000;
  -color-dataset-3: #fbb034;
  -color-dataset-4: #ffdd00;
  -color-dataset-5: #c1d82f;
  -color-dataset-6: #8a7967;
  -color-dataset-7: #6a737b;
  -fx-color-count: 7;
}
.chart:palette-dell, .renderer:palette-dell {
  -color-dataset-1: #0085c3;
  -color-dataset-2: #7ab800;
  -color-dataset-3: #f2af00;
  -color-dataset-4: #dc5034;
  -color-dataset-5: #6e2585;
  -color-dataset-6: #71c6c1;
  -color-dataset-7: #009bbb;
  -color-dataset-8: #444444;
  -fx-color-count: 8;
}
.chart:palette-equidistant, .renderer:palette-equidistant {
  -color-dataset-1: #003f5c;
  -color-dataset-2: #2f4b7c;
  -color-dataset-3: #665191;
  -color-dataset-4: #a05195;
  -color-dataset-5: #d45087;
  -color-dataset-6: #f95d6a;
  -color-dataset-7: #ff7c43;
  -color-dataset-8: #ffa600;
  -fx-color-count: 8;
}
.chart:palette-tuneviewer, .renderer:palette-tuneviewer {
  -color-dataset-1: #0000c8;
  -color-dataset-2: #c80000;
  -color-dataset-3: #00c800;
  -color-dataset-4: orange;
  -color-dataset-5: magenta;
  -color-dataset-6: cyan;
  -color-dataset-7: darkgray;
  -color-dataset-8: pink;
  -color-dataset-9: black;
  -fx-color-count: 9;
}
.chart:palette-matlab-light, .renderer:palette-matlab-light {
  -color-dataset-1: #0072bd;
  -color-dataset-2: #d95319;
  -color-dataset-3: #edb120;
  -color-dataset-4: #7e2f8e;
  -color-dataset-5: #77ac30;
  -color-dataset-6: #4dbeee;
  -color-dataset-7: #a2142f;
  -fx-color-count: 7;
}
.chart:palette-matlab-dark, .renderer:palette-matlab-dark {
  -color-dataset-1: #5995bd;
  -color-dataset-2: #d97347;
  -color-dataset-3: #edb120;
  -color-dataset-4: #da51f5;
  -color-dataset-5: #77ac30;
  -color-dataset-6: #4dbeee;
  -color-dataset-7: #a2898d;
  -fx-color-count: 7;
}
.chart:palette-modena, .renderer:palette-modena {
  -color-dataset-1: CHART_COLOR_1;
  -color-dataset-2: CHART_COLOR_2;
  -color-dataset-3: CHART_COLOR_3;
  -color-dataset-4: CHART_COLOR_4;
  -color-dataset-5: CHART_COLOR_5;
  -color-dataset-6: CHART_COLOR_6;
  -color-dataset-7: CHART_COLOR_7;
  -color-dataset-8: CHART_COLOR_8;
  -fx-color-count: 8;
}
.chart:palette-atlantafx, .renderer:palette-atlantafx {
  -color-dataset-1: -color-chart-1;
  -color-dataset-2: -color-chart-2;
  -color-dataset-3: -color-chart-3;
  -color-dataset-4: -color-chart-4;
  -color-dataset-5: -color-chart-5;
  -color-dataset-6: -color-chart-6;
  -color-dataset-7: -color-chart-7;
  -color-dataset-8: -color-chart-8;
  -fx-color-count: 8;
}

.chart-datapoint-tooltip-label {
  -fx-background-color: rgb(153, 204, 204);
  -fx-border-color: black;
  -fx-border-radius: 3;
  -fx-font-size: 12;
  -fx-font-weight: bold;
  -fx-text-alignment: center;
}

.chart-crosshair-path {
  -fx-stroke-width: 1;
}

.chart-zoom-rect {
  -fx-fill: dodgerblue;
  -fx-stroke: #002966;
  -fx-stroke-type: inside;
  -fx-stroke-width: 1;
  -fx-opacity: 0.2;
}

.chart-select-rect {
  -fx-fill: transparent;
  -fx-stroke: gray;
  -fx-stroke-width: 1.5;
  -fx-stroke-dash-offset: 6;
  -fx-stroke-dash-array: 12 2 4 2;
  -fx-stroke-line-cap: butt;
  -fx-effect: dropshadow(three-pass-box, derive(gray, -20%), 10, 0, 4, 4);
}

.chart-select-marker {
  -fx-fill: transparent;
  -fx-stroke: lightGreen;
  -fx-stroke-width: 1.5;
  -fx-stroke-dash-offset: 6;
  -fx-stroke-dash-array: 12 2 4 2;
  -fx-stroke-line-cap: butt;
  -fx-opacity: 1;
  -fx-effect: dropshadow(three-pass-box, green, 5, 0.5, 0, 0);
}

.chart-select-marker:noedit {
  -fx-fill: transparent;
  -fx-stroke: red;
  -fx-stroke-width: 1.5;
  -fx-stroke-dash-offset: 6;
  -fx-stroke-dash-array: 12 2 4 2;
  -fx-stroke-line-cap: butt;
  -fx-opacity: 1;
  -fx-effect: dropshadow(three-pass-box, red, 5, 0.5, 0, 0);
}

.chart-series-line {
  -fx-stroke-width: 1px;
}

.value-indicator-label {
  -fx-background-color: #f4e242;
  -fx-border-color: black;
  -fx-border-radius: 2;
  -fx-font-size: 12;
  -fx-font-weight: bold;
  -fx-text-alignment: center;
  -fx-padding: 1 2 1 2;
}

.range-indicator-label {
  -fx-background-color: #f4e242;
  -fx-border-color: black;
  -fx-border-radius: 2;
  -fx-font-size: 12;
  -fx-font-weight: bold;
  -fx-text-alignment: center;
  -fx-padding: 1 2 1 2;
}

.value-indicator-line {
  -fx-stroke-width: 1;
  -fx-stroke: black;
  -fx-stroke-dash-array: 8;
}

.value-indicator-marker {
  -fx-stroke-width: 0.5;
  -fx-stroke: derive(-fx-background, -30%);
  -fx-fill: dodgerblue;
}

.value-watch-indicator-label {
  -fx-background-color: transparent;
  -fx-border-color: transparent;
  -fx-border-radius: 0;
  -fx-font-size: 11;
  -fx-font-weight: bold;
  -fx-text-fill: white;
  -fx-text-alignment: center;
  -fx-padding: 2.5 4 1 8;
}

.value-watch-indicator-line {
  -fx-stroke-width: 1;
  -fx-stroke: black;
  -fx-stroke-dash-array: 8;
}

.value-watch-indicator-marker {
  -fx-stroke-width: 0.5;
  -fx-stroke: black;
  -fx-fill: #416ef4;
}

.range-indicator-rect {
  -fx-stroke: transparent;
  -fx-fill: rgba(65, 110, 244, 0.4078431373);
}

.chart {
  -fx-padding: 0px;
  -fx-min-width: 100px;
  -fx-min-height: 100px;
  -fx-pref-width: 600px;
  -fx-pref-height: 450px;
  -fx-max-height: 4096px;
  -fx-max-width: 4096px;
  -fx-tool-bar-side: top;
  -fx-color-palette: default;
}
.chart .chart-title {
  visibility: visible;
  -fx-alignment: center;
  -fx-side: top;
  -fx-rotate: 0;
}
.chart .chart-title:left {
  -fx-rotate: -90;
}
.chart .chart-title:right {
  -fx-rotate: 90;
}
.chart .chart-legend {
  visibility: visible;
  -fx-orientation: horizontal;
  -fx-side: bottom;
  -fx-vgap: 5px;
  -fx-hgap: 5px;
  -fx-alignment: center;
  -fx-symbol-width: 20;
  -fx-symbol-height: 20;
}
.chart .chart-legend .chart-legend-item {
  -fx-alignment: center-left;
  -fx-content-display: left;
}
.chart .renderer {
  -fx-show-in-legend: true;
  -fx-use-global-color-index: true;
  -fx-assume-sorted-data: true;
  -fx-min-required-reduction-size: 5;
  -fx-parallel-implementation: true;
  -fx-point-reduction: true;
}
.chart .error-dataset-renderer {
  -fx-poly-line-style: normal;
  -fx-error-style: errorcombo;
  -fx-dash-size: 3;
  -fx-allow-nans: false;
  -fx-draw-bubbles: false;
  -fx-draw-marker: true;
  -fx-marker-size: 1.5;
  -fx-draw-bars: false;
  -fx-shift-bar: true;
  -fx-shift-bar-offset: 3;
  -fx-dynamic-bar-width: true;
  -fx-bar-width-percentage: 70;
  -fx-bar-width: 5;
  -fx-intensity-fading: 0.65;
}

.dataset {
  -fx-stroke-width: 1.5;
  -fx-marker-stroke-width: 0.5;
}

.axis {
  -fx-border-width: 0px;
  -fx-auto-ranging: true;
  -fx-auto-grow-ranging: false;
  -fx-auto-range-rounding: false;
  -fx-auto-range-padding: 0;
  -fx-auto-unit-scaling: false;
  -fx-invert-axis: false;
  -fx-axis-center-position: 0.5;
  -fx-overlap-policy: SKIP_ALT;
  -fx-axis-padding: 15px;
  -fx-tick-label-spacing: 3px;
  -fx-max-major-tick-label-count: 20;
  -fx-minor-tick-count: 10;
  -fx-tick-mark-gap: 0px;
  -fx-tick-length: 8px;
  -fx-minor-tick-length: 5px;
  -fx-tick-label-gap: 3px;
  -fx-axis-label-gap: 3px;
}
.axis .axis-label, .axis .axis-tick-label {
  visibility: visible;
  -fx-font-family: "System";
  -fx-font-smoothing-type: gray;
  -fx-stroke: transparent;
  -fx-fill: black;
  -fx-rotate: 0;
}
.axis .axis-label {
  -fx-text-alignment: CENTER;
  -fx-font-size: 12px;
}
.axis:center .axis-label {
  -fx-text-alignment: RIGHT;
}
.axis:vertical .axis-label {
  -fx-rotate: -90;
}
.axis .axis-tick-label {
  -fx-fill: black;
  -fx-font-size: 10px;
}
.axis .axis-major-tick-mark, .axis .axis-minor-tick-mark {
  visibility: visible;
  -fx-stroke: #c3c3c3;
  -fx-stroke-width: 1;
}

.grid-renderer {
  -fx-draw-grid-on-top: true;
}
.grid-renderer .chart-major-grid-lines {
  -fx-stroke: derive(-fx-background, -10%);
  -fx-stroke-dash-array: 4.5, 2.5;
  -fx-stroke-width: 0.5;
  visibility: visible;
}
.grid-renderer .chart-major-grid-lines:withMinor {
  -fx-stroke: derive(-fx-background, -20%);
}
.grid-renderer .chart-minor-grid-lines {
  -fx-stroke: derive(-fx-background, -5%);
  -fx-stroke-dash-array: 4.5, 2.5;
  -fx-stroke-width: 0.5;
  visibility: hidden;
}
.grid-renderer .chart-major-vertical-lines .chart-major-grid-lines {
  /* use this to override v-specific settings */
}
.grid-renderer .chart-major-horizontal-grid-lines .chart-major-grid-lines {
  /* use this to override h-specific settings */
}
.grid-renderer .chart-minor-vertical-grid-lines .chart-minor-grid-lines {
  /* use this to override v-specific settings */
}
.grid-renderer .chart-minor-horizontal-grid-lines .chart-minor-grid-lines {
  /* use this to override h-specific settings */
}

.chart-vertical-zero-line,
.chart-horizontal-zero-line {
  -fx-stroke: derive(-fx-text-background-color, 40%);
}

.dataset.default-color0 {
  -fx-stroke: -color-dataset-1;
  -fx-fill: -color-dataset-1;
}

.dataset.default-color1 {
  -fx-stroke: -color-dataset-2;
  -fx-fill: -color-dataset-2;
}

.dataset.default-color2 {
  -fx-stroke: -color-dataset-3;
  -fx-fill: -color-dataset-3;
}

.dataset.default-color3 {
  -fx-stroke: -color-dataset-4;
  -fx-fill: -color-dataset-4;
}

.dataset.default-color4 {
  -fx-stroke: -color-dataset-5;
  -fx-fill: -color-dataset-5;
}

.dataset.default-color5 {
  -fx-stroke: -color-dataset-6;
  -fx-fill: -color-dataset-6;
}

.dataset.default-color6 {
  -fx-stroke: -color-dataset-7;
  -fx-fill: -color-dataset-7;
}

.dataset.default-color7 {
  -fx-stroke: -color-dataset-8;
  -fx-fill: -color-dataset-8;
}

.dataset.default-color8 {
  -fx-stroke: -color-dataset-9;
  -fx-fill: -color-dataset-9;
}

.dataset.default-color9 {
  -fx-stroke: -color-dataset-10;
  -fx-fill: -color-dataset-10;
}

.dataset.default-color10 {
  -fx-stroke: -color-dataset-11;
  -fx-fill: -color-dataset-11;
}

.dataset.default-color11 {
  -fx-stroke: -color-dataset-12;
  -fx-fill: -color-dataset-12;
}

.dataset.default-color12 {
  -fx-stroke: -color-dataset-13;
  -fx-fill: -color-dataset-13;
}

.dataset.default-color13 {
  -fx-stroke: -color-dataset-14;
  -fx-fill: -color-dataset-14;
}

.dataset.default-color14 {
  -fx-stroke: -color-dataset-15;
  -fx-fill: -color-dataset-15;
}

.dataset.default-color15 {
  -fx-stroke: -color-dataset-16;
  -fx-fill: -color-dataset-16;
}

.chart:financial-classic .dataset.financial {
  -fx-position-triangle-long-color: blue;
  -fx-position-triangle-short-color: #a10000;
  -fx-position-triangle-exit-color: black;
  -fx-position-arrow-long-color: blue;
  -fx-position-arrow-short-color: red;
  -fx-position-arrow-exit-color: black;
  -fx-position-label-trade-description-color: black;
  -fx-position-order-linkage-profit-color: blue;
  -fx-position-order-linkage-loss-color: #a10000;
  -fx-footprint-long-color: green;
  -fx-footprint-short-color: red;
  -fx-footprint-cross-line-color: grey;
  -fx-footprint-default-font-color: rgba(255, 255, 255, 0.58);
  -fx-footprint-poc-color: #d1d100;
  -fx-footprint-volume-long-color: rgba(139, 199, 194, 0.4);
  -fx-footprint-volume-short-color: rgba(235, 160, 159, 0.4);
  -fx-high-low-body-line-width: 1.6;
  -fx-high-low-tick-line-width: 2;
  -fx-high-low-long-color: green;
  -fx-high-low-long-tick-color: green;
  -fx-high-low-short-color: red;
  -fx-high-low-short-tick-color: red;
  -fx-high-low-volume-long-color: rgba(139, 199, 194, 0.4);
  -fx-high-low-volume-short-color: rgba(235, 160, 159, 0.4);
  -fx-stroke-width: 1.6;
  -fx-candle-long-color: green;
  -fx-candle-short-color: red;
  -fx-candle-long-wick-color: green;
  -fx-candle-short-wick-color: red;
  -fx-candle-volume-long-color: rgba(139, 199, 194, 0.4);
  -fx-candle-volume-short-color: rgba(235, 160, 159, 0.4);
}

.chart:financial-clearlook .dataset.financial {
  -fx-position-triangle-long-color: green;
  -fx-position-triangle-short-color: red;
  -fx-position-triangle-exit-color: black;
  -fx-position-arrow-long-color: green;
  -fx-position-arrow-short-color: red;
  -fx-position-arrow-exit-color: black;
  -fx-position-label-trade-description-color: black;
  -fx-position-order-linkage-profit-color: green;
  -fx-position-order-linkage-loss-color: red;
  -fx-footprint-long-color: #4c4c4c;
  -fx-footprint-short-color: red;
  -fx-footprint-cross-line-color: grey;
  -fx-footprint-default-font-color: rgba(255, 255, 255, 0.58);
  -fx-footprint-poc-color: #d1d100;
  -fx-footprint-volume-long-color: rgba(139, 199, 194, 0.4);
  -fx-footprint-volume-short-color: rgba(235, 160, 159, 0.4);
  -fx-high-low-body-line-width: 1.6;
  -fx-high-low-tick-line-width: 2;
  -fx-high-low-long-color: black;
  -fx-high-low-long-tick-color: black;
  -fx-high-low-short-color: red;
  -fx-high-low-short-tick-color: red;
  -fx-high-low-volume-long-color: rgba(139, 199, 194, 0.4);
  -fx-high-low-volume-short-color: rgba(235, 160, 159, 0.4);
  -fx-stroke-width: 0.9;
  -fx-stroke-color: black;
  -fx-candle-long-color: white;
  -fx-candle-short-color: red;
  -fx-candle-volume-long-color: rgba(139, 199, 194, 0.4);
  -fx-candle-volume-short-color: rgba(235, 160, 159, 0.4);
}

.chart:financial-sand, .chart:financial-sand .chart-plot-background {
  -fx-background-image: url("images/sand.png");
}
.chart:financial-sand .grid-renderer .chart-major-grid-lines {
  visibility: visible;
  -fx-stroke: darkgrey;
}
.chart:financial-sand .grid-renderer .chart-minor-grid-lines {
  visibility: visible;
}
.chart:financial-sand .axis-tick-label {
  -fx-fill: black;
}
.chart:financial-sand .dataset.financial {
  -fx-position-triangle-long-color: green;
  -fx-position-triangle-short-color: red;
  -fx-position-triangle-exit-color: black;
  -fx-position-arrow-long-color: green;
  -fx-position-arrow-short-color: red;
  -fx-position-arrow-exit-color: black;
  -fx-position-label-trade-description-color: black;
  -fx-position-order-linkage-profit-color: green;
  -fx-position-order-linkage-loss-color: red;
  -fx-footprint-long-color: #00aa00;
  -fx-footprint-short-color: red;
  -fx-footprint-cross-line-color: black;
  -fx-footprint-default-font-color: rgba(255, 255, 255, 0.58);
  -fx-footprint-poc-color: #d1d100;
  -fx-candle-shadow-color: rgba(72, 72, 72, 0);
  -fx-footprint-volume-long-color: rgba(139, 199, 194, 0.4);
  -fx-footprint-volume-short-color: rgba(235, 160, 159, 0.4);
  -fx-high-low-body-line-width: 1.2;
  -fx-high-low-tick-line-width: 1.2;
  -fx-high-low-long-color: black;
  -fx-high-low-long-tick-color: black;
  -fx-high-low-short-color: red;
  -fx-high-low-short-tick-color: red;
  -fx-hi-low-shadow-color: rgba(72, 72, 72, 0);
  -fx-high-low-volume-long-color: rgba(139, 199, 194, 0.4);
  -fx-high-low-volume-short-color: rgba(235, 160, 159, 0.4);
  -fx-stroke-width: 0.9;
  -fx-stroke-color: black;
  -fx-candle-long-color: white;
  -fx-candle-short-color: red;
  -fx-candle-shadow-color: rgba(72, 72, 72, 0.2);
  -fx-candle-volume-long-color: rgba(139, 199, 194, 0.4);
  -fx-candle-volume-short-color: rgba(235, 160, 159, 0.4);
}

.chart:financial-blackberry, .chart:financial-blackberry .chart-plot-background {
  -fx-background-color: rgb(0, 2, 46);
}
.chart:financial-blackberry .grid-renderer .chart-major-grid-lines, .chart:financial-blackberry .grid-renderer .chart-minor-grid-lines {
  visibility: hidden;
}
.chart:financial-blackberry .chart-title {
  -fx-text-fill: white;
}
.chart:financial-blackberry .axis-tick-label {
  -fx-fill: whitesmoke;
}
.chart:financial-blackberry .dataset.financial {
  -fx-position-triangle-long-color: green;
  -fx-position-triangle-short-color: red;
  -fx-position-triangle-exit-color: white;
  -fx-position-arrow-long-color: green;
  -fx-position-arrow-short-color: red;
  -fx-position-arrow-exit-color: white;
  -fx-position-label-trade-description-color: white;
  -fx-position-order-linkage-profit-color: green;
  -fx-position-order-linkage-loss-color: red;
  -fx-footprint-long-color: #00022e;
  -fx-footprint-short-color: #780000;
  -fx-footprint-cross-line-color: grey;
  -fx-footprint-default-font-color: rgba(255, 255, 255, 0.58);
  -fx-footprint-poc-color: yellow;
  -fx-candle-long-wick-color: white;
  -fx-candle-short-wick-color: red;
  -fx-footprint-volume-long-color: rgba(139, 199, 194, 0.4);
  -fx-footprint-volume-short-color: rgba(235, 160, 159, 0.4);
  -fx-high-low-body-line-width: 2;
  -fx-high-low-tick-line-width: 2.5;
  -fx-high-low-long-color: white;
  -fx-high-low-long-tick-color: white;
  -fx-high-low-short-color: red;
  -fx-high-low-short-tick-color: red;
  -fx-high-low-volume-long-color: rgba(139, 199, 194, 0.4);
  -fx-high-low-volume-short-color: rgba(235, 160, 159, 0.4);
  -fx-stroke-width: 1.5;
  -fx-stroke-color: black;
  -fx-candle-long-color: #00022e;
  -fx-candle-short-color: #780000;
  -fx-candle-long-wick-color: white;
  -fx-candle-short-wick-color: red;
  -fx-candle-volume-long-color: rgba(139, 199, 194, 0.4);
  -fx-candle-volume-short-color: rgba(235, 160, 159, 0.4);
}

.chart:financial-dark, .chart:financial-dark .chart-plot-background {
  -fx-background-color: rgb(47, 47, 47);
}
.chart:financial-dark .grid-renderer .chart-minor-grid-lines, .chart:financial-dark .grid-renderer .chart-major-vertical-lines {
  visibility: hidden;
}
.chart:financial-dark .grid-renderer .chart-major-horizontal-lines {
  visibility: visible;
  -fx-stroke: rgb(106, 106, 106);
}
.chart:financial-dark .chart-title {
  -fx-text-fill: white;
}
.chart:financial-dark .axis-tick-label {
  -fx-fill: rgb(194, 194, 194);
}
.chart:financial-dark .dataset.financial {
  -fx-position-triangle-long-color: green;
  -fx-position-triangle-short-color: red;
  -fx-position-triangle-exit-color: white;
  -fx-position-arrow-long-color: green;
  -fx-position-arrow-short-color: red;
  -fx-position-arrow-exit-color: white;
  -fx-position-label-trade-description-color: white;
  -fx-position-order-linkage-profit-color: green;
  -fx-position-order-linkage-loss-color: red;
  -fx-footprint-long-color: #298988;
  -fx-footprint-short-color: #963838;
  -fx-footprint-cross-line-color: grey;
  -fx-footprint-default-font-color: rgba(255, 255, 255, 0.58);
  -fx-footprint-poc-color: yellow;
  -fx-footprint-volume-long-color: rgba(139, 199, 194, 0.4);
  -fx-footprint-volume-short-color: rgba(235, 160, 159, 0.4);
  -fx-high-low-body-line-width: 2;
  -fx-high-low-tick-line-width: 2.5;
  -fx-high-low-long-color: #89e278;
  -fx-high-low-long-tick-color: #89e278;
  -fx-high-low-short-color: #e85656;
  -fx-high-low-short-tick-color: #e85656;
  -fx-high-low-volume-long-color: rgba(139, 199, 194, 0.4);
  -fx-high-low-volume-short-color: rgba(235, 160, 159, 0.4);
  -fx-stroke-width: 1.5;
  -fx-stroke-color: black;
  -fx-candle-long-color: #298988;
  -fx-candle-short-color: #963838;
  -fx-candle-long-wick-color: #89e278;
  -fx-candle-short-wick-color: #e85656;
  -fx-candle-volume-long-color: rgba(139, 199, 194, 0.4);
  -fx-candle-volume-short-color: rgba(235, 160, 159, 0.4);
}
