#parse("/velocity/layout.vm")
#@mainLayout()
<form id="loginForm" method="post">
    #if($authenticationFailedPasswordsMismatch)
        <p class="bad notification">$msg.get("LOGIN_AUTH_FAILED_PASSWORD_MISMATCH")</p>
    #end
    #if($authenticationFailed)
        <p class="bad notification">$msg.get("LOGIN_AUTH_FAILED")</p>
    #elseif($authenticationSucceeded)
        <p class="good notification">$msg.get("LOGIN_AUTH_SUCCEEDED", $currentUser)</p>
    #elseif($loggedOut)
        <p class="notification">$msg.get("LOGIN_LOGGED_OUT")</p>
    #end
    <h1>$msg.get("LOGIN_HEADING_CHANGE_PASSWORD")</h1>
    <p>$msg.get("LOGIN_INSTRUCTIONS", "/index")</p>
    <label>$msg.get("LOGIN_LABEL_USERNAME")</label>
    <input type="text" name="username" placeholder="$msg.get("LOGIN_LABEL_USERNAME")" value="" required>
    <label>$msg.get("LOGIN_LABEL_PASSWORD_OLD")</label>
    <input type="password" name="password" placeholder="$msg.get("LOGIN_LABEL_PASSWORD")" value="" required>
    <label>$msg.get("LOGIN_LABEL_PASSWORD_NEW1")  <small>(<a href="https://imgs.xkcd.com/comics/password_strength.png" target="_blank" rel="noopener" tabIndex="-1">tip</a>)</small></label>
    <input type="password" name="passwordNew1" placeholder="$msg.get("LOGIN_LABEL_PASSWORD_NEW1")" value="" required>
    <input type="password" name="passwordNew2" placeholder="$msg.get("LOGIN_LABEL_PASSWORD_NEW2")" value="" required>
    #if($loginRedirect)
        <input type="hidden" name="loginRedirect" value="$loginRedirect">
    #end
    <input type="submit" value="$msg.get("LOGIN_BUTTON_CHANGE_PASSWORD")">
</form>
#end
